hr{
    margin: 2.5rem 0;
    border-color: var(--gris3);
    background-color: var(--gris3);
    color: var(--gris3);
    box-shadow: none;
}
.h2-t1{
    padding-bottom: 2rem;
}
.h3-t1{
    /* padding-bottom: 1rem; */
    /* width: fit-content;
    left: 0;
    border-bottom: solid 4px var(--gris3); */
    counter-increment: titleList;
}
.h3-t1::before{
    content: counter(titleList) ". ";
}
h1, h2, h3{
    color:var(--blanco)
}
.s1-img{
    padding-top: 1rem;
}
/* .section-content p span{
    font-weight: bold;
    font-style: italic;
} */
blockquote{
    /* padding-left: 2rem; */
    padding: 2.5rem;
    background-color: #3A3539;
    /* border-left: solid 4px var(--gris3); */
    margin: 4rem 0;
    display: grid;
    gap: 2rem;
}
pre, blockquote {
    border-radius: 8px;
}
.quote{
    color: var(--blanco);
    /* margin-bottom: 1rem !important; */
}
/* .quote span{
    color: var(--gris1);
} */
pre{
    color: var(--blanco);
    background-color: #3A3539;
    white-space:break-spaces;
    /* max-width: 100%; */
    padding:4rem;
    /* overflow-x: auto; */
    /* margin-bottom:3rem */
}
.dom-img{
    width: 100%;
}

.correo{
    color: var(--blanco);
    font-weight: bold;
}
