main{
    display: inline;
}
.main-content{
    display: grid;
    gap: 3rem;
}
.section-content{
    display: grid;
    gap: 2rem;
}
.sub-section{
    display: grid;
    gap: 2rem;
    counter-reset: titleList;
}